html {
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.2;
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.2;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html {
    display: block;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;


}
html{
    font-size:  62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;

}

header{
    position: fixed;
    top: 0; left: 0 ; right: 0;
    background: #fff;
    pad: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}





header .logo{
    color:var(--black);
    font-size:  0.5rem;
    font-weight:  bolder;
}
header logo i{
    color:  var(--green);
}
header .person-img{
    size: 00.5rem;
}